*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    width:1200px ;
    height: 75% ;
    margin: auto;
}
.icon{
    width: 100px; ;
    float: left;
    height: 75px;
}
.logo{
    color: black;
    top: 100%;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.main{
    min-height: 100vb;
    width: 100%;
    background: url(https://external-preview.redd.it/xY1A2CLWDAh-N-UsGLxqGhOmf6UkiCz9dYdtXbmyRf8.jpg?auto=webp&s=5cb12560d8a11bde2c928c5a4e03b79cb3971db5);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.home{
    float: right;
    width: 1000px;
    height: 80px;
    padding-right: 15px;

}
ul{
    float: right;
    display:flex;
    justify-content:center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 52px;
    margin-top: 27px;
    font-size: 14px;
    box-sizing: border-box;
    box-shadow:50% ;

}
ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 8px 20px;
    transition: all .5s ease;
    box-shadow: 30px;
}

ul li a:hover{

    background-color: gray;
    color: white;
    box-shadow:0 0 50px white;
}
.textbox{
    width: 30%;
    color: black;
    position: absolute;
    top: 30%;
    right: 5%;
    text-align: center;
    align-items: center;
    }
.textbox h1{
    font-size: 50px;
    
}
.textbox p{
margin: 10px 0 4px;
font-size: 14px;
color: black;
text-align: justify;
font-weight: bolder;

}
.button{
    display: inline-flex;
    text-decoration: none;
    color: black
    border 1px solide black;
    padding: 10px;
    font-size: 10x;
    position: relative;
    background-color:#6CB4EE;
    margin: 20px;
    cursor:pointer;
    align-items: center;
    color: white;

}
.button:hover{
    background-color:gray;
    color: white;
    box-shadow:0 0 50px white;


}

.row{
    display: flex;
    margin: 2%;
    justify-content: space-between;
    align-items: center;
    
}
.column{
    flex-basis: 31%;
    background: #fff3ff;;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px;
    box-sizing: border-box;

    
}
.h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.row :hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}